In [25]:
import warnings
warnings.filterwarnings("ignore")
import logging
logging.basicConfig(level=logging.ERROR)
import pandas as pd

data_dir='D:\\_NILESH\\dissertation\\data\\raw\\flare\\'

In [26]:
df1 = pd.read_csv(data_dir+'ace_epam_5m_data.csv')
df1.head()

,time (yyyy MM dd HHmm),electron_status,electron_flux_38_53 (particles/cm2-s-ster-MeV),electron_flux_175_315 (particles/cm2-s-ster-MeV),proton_status,proton_flux_47_68 (particles/cm2-s-ster-MeV),proton_flux_115_195 (particles/cm2-s-ster-MeV),proton_flux_310_580 (particles/cm2-s-ster-MeV),proton_flux_795_1193 (particles/cm2-s-ster-MeV),proton_flux_1060_1900 (particles/cm2-s-ster-MeV),anisotropy_index (dimensionless)
0,2001-08-07 00:00:00,0,722.0,16.0,0,1280.0,129.0,9.20,0.954,0.219,0.47
1,2001-08-07 00:05:00,0,732.0,19.6,0,1220.0,122.0,7.41,0.786,0.234,-1.00
2,2001-08-07 00:10:00,0,694.0,11.6,0,1130.0,123.0,6.65,0.633,0.193,0.90
3,2001-08-07 00:15:00,0,704.0,14.7,0,1210.0,120.0,7.18,0.946,0.252,0.68
4,2001-08-07 00:20:00,0,797.0,13.4,0,1560.0,131.0,7.67,0.889,0.321,1.38

In [27]:
def compute_energy_released(row, flux_column, energy_range):
    # Convert the flux value from MeV to keV
    flux_kev = row[flux_column] * 1000
    # Extract the energy range values
    energy_start, energy_end = map(int, energy_range.split('_'))
    # Compute the average energy
    avg_energy = (energy_start + energy_end) / 2
    # Return the computed energy released
    return flux_kev * avg_energy

# Define the flux columns and their corresponding energy ranges
flux_columns = {
    'electron_flux_38_53 (particles/cm2-s-ster-MeV)': '38_53',
    'electron_flux_175_315 (particles/cm2-s-ster-MeV)': '175_315',
    'proton_flux_47_68 (particles/cm2-s-ster-MeV)': '47_68',
    'proton_flux_115_195 (particles/cm2-s-ster-MeV)': '115_195',
    'proton_flux_310_580 (particles/cm2-s-ster-MeV)': '310_580',
    'proton_flux_795_1193 (particles/cm2-s-ster-MeV)': '795_1193',
    'proton_flux_1060_1900 (particles/cm2-s-ster-MeV)': '1060_1900'
}

# For each flux column, compute the energy released and store in a new column
for flux_column, energy_range in flux_columns.items():
    energy_column = flux_column.replace('flux', 'energy_released').replace('MeV', 'keV').replace('cm2', 'km2')
    df1[energy_column] = df1.apply(compute_energy_released, flux_column=flux_column, energy_range=energy_range, axis=1)
    
    # Convert the values from cm² to km²
    df1[energy_column] /= 1e10

# Display the updated dataframe
df1.head()

,time (yyyy MM dd HHmm),electron_status,electron_flux_38_53 (particles/cm2-s-ster-MeV),electron_flux_175_315 (particles/cm2-s-ster-MeV),proton_status,proton_flux_47_68 (particles/cm2-s-ster-MeV),proton_flux_115_195 (particles/cm2-s-ster-MeV),proton_flux_310_580 (particles/cm2-s-ster-MeV),proton_flux_795_1193 (particles/cm2-s-ster-MeV),proton_flux_1060_1900 (particles/cm2-s-ster-MeV),anisotropy_index (dimensionless),electron_energy_released_38_53 (particles/km2-s-ster-keV),electron_energy_released_175_315 (particles/km2-s-ster-keV),proton_energy_released_47_68 (particles/km2-s-ster-keV),proton_energy_released_115_195 (particles/km2-s-ster-keV),proton_energy_released_310_580 (particles/km2-s-ster-keV),proton_energy_released_795_1193 (particles/km2-s-ster-keV),proton_energy_released_1060_1900 (particles/km2-s-ster-keV)
0,2001-08-07 00:00:00,0,722.0,16.0,0,1280.0,129.0,9.20,0.954,0.219,0.47,0.003285,0.000392,0.007360,0.001999,0.000409,0.000095,0.000032
1,2001-08-07 00:05:00,0,732.0,19.6,0,1220.0,122.0,7.41,0.786,0.234,-1.00,0.003331,0.000480,0.007015,0.001891,0.000330,0.000078,0.000035
2,2001-08-07 00:10:00,0,694.0,11.6,0,1130.0,123.0,6.65,0.633,0.193,0.90,0.003158,0.000284,0.006497,0.001906,0.000296,0.000063,0.000029
3,2001-08-07 00:15:00,0,704.0,14.7,0,1210.0,120.0,7.18,0.946,0.252,0.68,0.003203,0.000360,0.006958,0.001860,0.000320,0.000094,0.000037
4,2001-08-07 00:20:00,0,797.0,13.4,0,1560.0,131.0,7.67,0.889,0.321,1.38,0.003626,0.000328,0.008970,0.002031,0.000341,0.000088,0.000048

In [28]:
# Define the energy released columns for electrons and protons
electron_energy_columns = [
    'electron_energy_released_38_53 (particles/km2-s-ster-keV)',
    'electron_energy_released_175_315 (particles/km2-s-ster-keV)'
]

proton_energy_columns = [
    'proton_energy_released_47_68 (particles/km2-s-ster-keV)',
    'proton_energy_released_115_195 (particles/km2-s-ster-keV)',
    'proton_energy_released_310_580 (particles/km2-s-ster-keV)',
    'proton_energy_released_795_1193 (particles/km2-s-ster-keV)',
    'proton_energy_released_1060_1900 (particles/km2-s-ster-keV)'
]

# Calculate the total energy released for electrons and protons
df1['total_electron_energy_released (keV)'] = df1[electron_energy_columns].sum(axis=1)
df1['total_proton_energy_released (keV)'] = df1[proton_energy_columns].sum(axis=1)

# Display the updated dataframe with new columns
df1.head()

,time (yyyy MM dd HHmm),electron_status,electron_flux_38_53 (particles/cm2-s-ster-MeV),electron_flux_175_315 (particles/cm2-s-ster-MeV),proton_status,proton_flux_47_68 (particles/cm2-s-ster-MeV),proton_flux_115_195 (particles/cm2-s-ster-MeV),proton_flux_310_580 (particles/cm2-s-ster-MeV),proton_flux_795_1193 (particles/cm2-s-ster-MeV),proton_flux_1060_1900 (particles/cm2-s-ster-MeV),anisotropy_index (dimensionless),electron_energy_released_38_53 (particles/km2-s-ster-keV),electron_energy_released_175_315 (particles/km2-s-ster-keV),proton_energy_released_47_68 (particles/km2-s-ster-keV),proton_energy_released_115_195 (particles/km2-s-ster-keV),proton_energy_released_310_580 (particles/km2-s-ster-keV),proton_energy_released_795_1193 (particles/km2-s-ster-keV),proton_energy_released_1060_1900 (particles/km2-s-ster-keV),total_electron_energy_released (keV),total_proton_energy_released (keV)
0,2001-08-07 00:00:00,0,722.0,16.0,0,1280.0,129.0,9.20,0.954,0.219,0.47,0.003285,0.000392,0.007360,0.001999,0.000409,0.000095,0.000032,0.003677,0.009896
1,2001-08-07 00:05:00,0,732.0,19.6,0,1220.0,122.0,7.41,0.786,0.234,-1.00,0.003331,0.000480,0.007015,0.001891,0.000330,0.000078,0.000035,0.003811,0.009349
2,2001-08-07 00:10:00,0,694.0,11.6,0,1130.0,123.0,6.65,0.633,0.193,0.90,0.003158,0.000284,0.006497,0.001906,0.000296,0.000063,0.000029,0.003442,0.008791
3,2001-08-07 00:15:00,0,704.0,14.7,0,1210.0,120.0,7.18,0.946,0.252,0.68,0.003203,0.000360,0.006958,0.001860,0.000320,0.000094,0.000037,0.003563,0.009268
4,2001-08-07 00:20:00,0,797.0,13.4,0,1560.0,131.0,7.67,0.889,0.321,1.38,0.003626,0.000328,0.008970,0.002031,0.000341,0.000088,0.000048,0.003955,0.011478

In [31]:
selected_df1 = df1[['time (yyyy MM dd HHmm)', 'total_electron_energy_released (keV)', 'total_proton_energy_released (keV)','electron_energy_released_38_53 (particles/km2-s-ster-keV)','electron_energy_released_175_315 (particles/km2-s-ster-keV)','proton_energy_released_47_68 (particles/km2-s-ster-keV)','proton_energy_released_115_195 (particles/km2-s-ster-keV)','proton_energy_released_310_580 (particles/km2-s-ster-keV)','proton_energy_released_795_1193 (particles/km2-s-ster-keV)','proton_energy_released_1060_1900 (particles/km2-s-ster-keV)']]
selected_df1.columns = ['Time', 'energy_e', 'energy_p','energy_e_38_53','energy_e_175_315','energy_p_47_68','energy_p_115_195','energy_p_310_580','energy_p_795_1193','energy_p_1060_1090']
filename='D:\\_NILESH\\dissertation\\data\\cleaned\\'
selected_df1.to_csv(filename+'solar_flare_energy.csv')
selected_df1.head()

,Time,energy_e,energy_p,energy_e_38_53,energy_e_175_315,energy_p_47_68,energy_p_115_195,energy_p_310_580,energy_p_795_1193,energy_p_1060_1090
0,2001-08-07 00:00:00,0.003677,0.009896,0.003285,0.000392,0.007360,0.001999,0.000409,0.000095,0.000032
1,2001-08-07 00:05:00,0.003811,0.009349,0.003331,0.000480,0.007015,0.001891,0.000330,0.000078,0.000035
2,2001-08-07 00:10:00,0.003442,0.008791,0.003158,0.000284,0.006497,0.001906,0.000296,0.000063,0.000029
3,2001-08-07 00:15:00,0.003563,0.009268,0.003203,0.000360,0.006958,0.001860,0.000320,0.000094,0.000037
4,2001-08-07 00:20:00,0.003955,0.011478,0.003626,0.000328,0.008970,0.002031,0.000341,0.000088,0.000048

In [32]:
selected_df1.describe()

,energy_e,energy_p,energy_e_38_53,energy_e_175_315,energy_p_47_68,energy_p_115_195,energy_p_310_580,energy_p_795_1193,energy_p_1060_1090
count,2.312471e+06,2.312471e+06,2.312471e+06,2.312471e+06,2.312471e+06,2.312471e+06,2.312471e+06,2.312471e+06,2.312471e+06
mean,-1.361087e-01,-2.266966e+00,3.047102e-02,-1.665797e-01,1.851680e-02,-9.428594e-02,-3.696475e-01,-7.269194e-01,-1.094630e+00
std,1.520437e+00,8.720255e+00,1.011534e+00,7.851211e-01,9.845927e-01,1.130955e+00,1.623427e+00,2.909434e+00,3.907714e+00
min,-2.905000e+00,-3.131500e+01,-4.550000e-01,-2.450000e+00,-5.750000e-01,-1.550000e+00,-4.450000e+00,-9.940000e+00,-1.480000e+01
25%,2.652300e-03,5.743949e-03,2.097550e-03,4.630500e-04,5.014000e-03,2.681500e-04,9.345000e-05,5.168800e-05,1.894400e-05
50%,4.019400e-03,1.016823e-02,3.389750e-03,6.247500e-04,9.142500e-03,3.456500e-04,1.259350e-04,7.425180e-05,3.034000e-05
75%,6.737150e-03,1.931025e-02,6.097000e-03,7.717500e-04,1.633000e-02,1.049350e-03,3.764700e-04,2.385600e-04,1.070040e-04
max,2.859360e+02,6.014467e+02,2.634450e+02,1.528800e+02,1.955000e+02,1.522100e+02,2.914750e+02,6.222440e+02,8.199200e+01

# df2

In [9]:
df2=pd.read_csv(data_dir+'ace_mag_1m_data.csv')

In [10]:
df2.head()

,Unnamed: 0,status,Bx (nT),By (nT),Bz (nT),Bt (nT),lat (degrees),lon (degrees)
0,2001-08-07 00:00:00,0.0,-6.2,-3.1,-0.1,6.9,-0.6,206.5
1,2001-08-07 00:01:00,0.0,-6.3,-3.3,-0.3,7.1,-2.7,207.8
2,2001-08-07 00:02:00,0.0,-6.2,-3.1,-0.6,6.9,-4.7,206.5
3,2001-08-07 00:03:00,0.0,-6.1,-3.4,-0.6,7.0,-4.8,209.2
4,2001-08-07 00:04:00,0.0,-6.1,-3.5,-0.4,7.0,-3.1,210.0

In [11]:
# Extract the desired columns
df2[['latitude', 'longitude']] = df2[['lat (degrees)', 'lon (degrees)']]

# Rename the 'Unnamed: 0' column to a relevant name like 'date'
df2.rename(columns={'Unnamed: 0': 'date'}, inplace=True)

# Display the filtered DataFrame
print(df2.size)
df2.head()

50880

,date,status,Bx (nT),By (nT),Bz (nT),Bt (nT),lat (degrees),lon (degrees),latitude,longitude
0,2001-08-07 00:00:00,0.0,-6.2,-3.1,-0.1,6.9,-0.6,206.5,-0.6,206.5
1,2001-08-07 00:01:00,0.0,-6.3,-3.3,-0.3,7.1,-2.7,207.8,-2.7,207.8
2,2001-08-07 00:02:00,0.0,-6.2,-3.1,-0.6,6.9,-4.7,206.5,-4.7,206.5
3,2001-08-07 00:03:00,0.0,-6.1,-3.4,-0.6,7.0,-4.8,209.2,-4.8,209.2
4,2001-08-07 00:04:00,0.0,-6.1,-3.5,-0.4,7.0,-3.1,210.0,-3.1,210.0

In [12]:
# Check for null values in lat and lon columns
null_values_lat = df2['latitude'].isnull().sum()
null_values_lon = df2['longitude'].isnull().sum()

# Print the number of null values in each column
print("Number of null values in 'lat' column:", null_values_lat)
print("Number of null values in 'lon' column:", null_values_lon)

temp_df2 = df2.dropna(subset=['latitude', 'longitude'])
temp_df22 = temp_df2.reset_index(drop=True)

Number of null values in 'lat' column: 39
Number of null values in 'lon' column: 40

In [13]:
selected_df2 = temp_df22[['date', 'latitude','longitude']]

# Save the new DataFrame to a CSV file
selected_df2.to_csv(filename+'solar_flare_loc.csv', index=False)# loc = location
selected_df2.head()

                  date  latitude  longitude
0  2001-08-07 00:00:00      -0.6      206.5
1  2001-08-07 00:01:00      -2.7      207.8
2  2001-08-07 00:02:00      -4.7      206.5
3  2001-08-07 00:03:00      -4.8      209.2
4  2001-08-07 00:04:00      -3.1      210.0

# df3

In [17]:
df3=pd.read_csv(data_dir+'ace_swepam_1m_data.csv')
df3

,Unnamed: 0,status,density (p/cc),speed (km/s),temperature (K)
0,2001-08-07 00:00:00,0.0,3.2,445.5,74600.0
1,2001-08-07 00:01:00,0.0,3.2,449.1,120000.0
2,2001-08-07 00:02:00,0.0,3.2,443.1,68800.0
3,2001-08-07 00:03:00,0.0,3.2,443.5,64300.0
4,2001-08-07 00:04:00,0.0,3.2,446.1,71200.0
...,...,...,...,...,...
978320,2023-02-05 12:08:00,0.0,4.6,347.3,45500.0
978321,2023-02-05 12:09:00,0.0,4.6,347.4,44900.0
978322,2023-02-05 12:10:00,0.0,5.0,345.1,49100.0
978323,2023-02-05 12:11:00,0.0,5.5,343.3,52400.0
978324,2023-02-05 12:12:00,0.0,NaN,NaN,NaN

In [20]:
# Check for null values in lat and lon columns
null_values_lat = df3['density (p/cc)'].isnull().sum()
null_values_lon = df3['speed (km/s)'].isnull().sum()
null_values_date = df3['Unnamed: 0'].isnull().sum()

# Print the number of null values in each column
print("Number of null values in 'lat' column:", null_values_lat)
print("Number of null values in 'lon' column:", null_values_lon)
print("Number of null values in 'date' column:", null_values_date)

temp_df3 = df3.dropna(subset=['Unnamed: 0','density (p/cc)', 'speed (km/s)'])
temp_df33 = temp_df3.reset_index(drop=True)

Number of null values in 'lat' column: 20
Number of null values in 'lon' column: 21
Number of null values in 'date' column: 0

In [23]:
selected_df3 = temp_df33[['Unnamed: 0', 'density (p/cc)','speed (km/s)','temperature (K)']]
selected_df3.columns = ['date', 'density', 'speed', 'temprature']
filename='D:\\_NILESH\\dissertation\\data\\cleaned\\'

# Save the new DataFrame to a CSV file
selected_df3.to_csv(filename+'solar_flare_ke.csv', index=False)# ke stands for kinetic energy
selected_df3.head()

                  date  density  speed  temprature
0  2001-08-07 00:00:00      3.2  445.5     74600.0
1  2001-08-07 00:01:00      3.2  449.1    120000.0
2  2001-08-07 00:02:00      3.2  443.1     68800.0
3  2001-08-07 00:03:00      3.2  443.5     64300.0
4  2001-08-07 00:04:00      3.2  446.1     71200.0